<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Music Groomer</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container mx-auto my-10 flex flex-col items-start">
        <h1 class="text-5xl mb-8">Music Groomers</h1>
        <a href="/amazon-music">Amazon Music</a>
    </div>
</body>
</html>